<h1>WELCOME TEAM!!!!</h1>
yada yada
<div id="home-div">
  <a href="/signup">Sign Up</a>
  <br>
  <a href="/login">Log In</a>
  <br>
  <a href="/private">Protected Page</a>
   <br>
  <a href="/image-add">Add new image</a>
  <br>
  
</div>